@mixin chat() {
    color: #333333;
    background-color: #ffffff;
    padding: 12px;
    max-width: 80%;
    min-width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}

@mixin before {
    content: '';
    display: block;
    position: absolute;
    border-top: 12px solid #dddddd;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

@mixin profile {
    position: absolute;
    background-color: #ffffff;
    width: 371px;
    height: 80px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 14px;
    padding-left: 15px;
}

@mixin sms {
    position: absolute;
    transform: rotate(-52deg) translateX(600px) translateY(-220px);
    font-style: normal;
    font-size: 150px;
    color: greenyellow;
}